Django==1.9.4
django-bootstrap-form==3.2
gunicorn==19.4.1
python-dateutil==2.4.2
workdays==1.4
requests==2.9.1
djangomi
boto3==1.2.3
celery==3.1.20
redis==2.10.5
raven==5.10.2
# NOTE: certifi causes problems; not added
